<table class="Header" style='width:820px;font-size:11px;' border="0" cellspacing="0">
	<tr style='height:35px;'>
		<td>
			<a href="/"><img src="@{'/public/images/logo.jpg'}" class="logo" alt="Newete 标志。点击一下返回首页" height="30" width="180"></a>
		</td>
		<td class="Status" >
			#{isLogin}
				以 <a href="/account" class="Pale">nile.black</a> 登入
			#{/isLogin}
			#{notLogin}
				<a href="@{Userz.register()}" class="Pale">现在加入</a> &nbsp;&nbsp;&nbsp;
				<a href="@{Secure.login()}" class="Pale">登入</a> 
			#{/notLogin}
				&nbsp;&nbsp;
				<a href="/help/">Newete 小帮手</a>
			#{isLogin}
				&nbsp;&nbsp;
				<a href="@{Secure.logOut()}">登出</a>
			#{/isLogin}
		</td>
	</tr>
</table>
<table class="NavBar" style='width:820px;' border="0" cellspacing="0">
	<tr style='height:30px'>
		<td>
		<div id="nicemenu">
			<ul >
				<li ><span class="head_menu"><a href="/">首页</a></span></li>
			#{isLogin}
				<li ><span class="head_menu"><a href="@{Photoz.photos(user.fullname,1)}">你的足迹</a> 
				<img src="@{'/public/images/site_nav_caret_split_default.png'}" class="arrow" alt="更多选项" height="15" width="18"></span>
				<div class="sub_menu">
					<a href="@{Photoz.photos(user.fullname,1)}">你的所有照片</a>
					<a href="@{Setz.mySets(user.fullname)}">你的相册</a>										
					<a href="@{Photoz.prepareUpload()}" class="item_line">上传照片</a>
				</div>
				</li>			
			#{/isLogin}
			#{notLogin}
				<li><span class="head_menu"><a href="@{Userz.register()}" alt="注册">注册</a></span>
				</li>
			#{/notLogin}
				*{<li><span class="head_menu"><a href="/explore/" alt="发掘 Newete 奇趣事">发掘</a> <img src="@{'/public/images/site_nav_caret_split_default.png'}" class="nav_button_caret" alt="更多選項" height="15" width="18"></span>
				}*
			</li>
			</ul>
		</div>
		</td>
		<td style="padding-bottom: 2px;" id="search_header_form_td">
			<form action="/search/" method="get" onsubmit="_do_header_search('89555424@N00', '', '/search/', '', '');return false;" id="headersearchform">
				<input style="color: rgb(153, 153, 153);" name="q" id="header_search_q" class="Box" value="搜尋你的所有相片" type="text">
				<input name="w" value="89555424@N00" type="hidden">
				<input name="m" value="" type="hidden">
				<input name="s" value="" type="hidden">
				<input name="mt" value="" type="hidden">
				<input name="referer_searched" value="" type="hidden">
			</form>
		</td>
		<td id="search_header_button_td"  style='text-align:right' width="82">
			<div style="display: block;" id="candy_search_button_bar" class="candy_button_bar">
				<ul class="site_nav_menu_buttons">
				<li class="menu_li" id="candy_nav_button_search"><span><a href="/search/" onclick="_do_header_search('89555424@N00', '', '/search/', '', '');return false;">搜尋</a> <img src="@{'/public/images/site_nav_caret_split_default.png'}" class="nav_button_caret" alt="更多選項" height="15" width="18"></span>					
				</li>
				</ul>
			</div>
		</td>	
	</tr>		
</table>	

<script type="text/javascript">

$(document).ready(function(){

	$("#nicemenu img.arrow").click(function(){ 
								
		$("span.head_menu").removeClass('active');
		
		submenu = $(this).parent().parent().find("div.sub_menu");
		
		if(submenu.css('display')=="block"){
			$(this).parent().removeClass("active"); 	
			submenu.hide(); 		
			$(this).attr('src','@{'/public/images/arrow_hover.png'}');									
		}else{
			$(this).parent().addClass("active"); 	
			submenu.fadeIn(); 		
			$(this).attr('src','@{'/public/images/arrow_select.png'}');	
		}
		
		$("div.sub_menu:visible").not(submenu).hide();
		$("#nicemenu img.arrow").not(this).attr('src','@{'/public/images/arrow.png'}');
						
	})
	.mouseover(function(){ $(this).attr('src','@{'/public/images/arrow_hover.png'}'); })
	.mouseout(function(){ 
		if($(this).parent().parent().find("div.sub_menu").css('display')!="block"){
			$(this).attr('src','@{'/public/images/arrow.png'}');
		}else{
			$(this).attr('src','@{'/public/images/arrow_select.png'}');
		}
	});

	$("#nicemenu span.head_menu").mouseover(function(){ $(this).addClass('over')})
								 .mouseout(function(){ $(this).removeClass('over') });
	
	$("#nicemenu div.sub_menu").mouseover(function(){ $(this).fadeIn(); })
							   .blur(function(){ 
							   		$(this).hide();
									$("span.head_menu").removeClass('active');
								});		
								
	$(document).click(function(event){ 		
			var target = $(event.target);
			if (target.parents("#nicemenu").length == 0) {				
				$("#nicemenu span.head_menu").removeClass('active');
				$("#nicemenu div.sub_menu").hide();
				$("#nicemenu img.arrow").attr('src','@{'/public/images/arrow.png'}');
			}
	});			   
							   
								   
});

</script>
