<table width="800" cellspacing="0" id="SubNav">
  <tbody>
	<tr>
	  <td class="Buddy">
		<a href="@{Photoz.photos(currentuser,1)}"><img width="48" height="48" alt=
		"到你的所有相片頁面" src=
		"http://farm5.static.flickr.com/4071/buddyicons/89555424@N00.jpg?1262695429#89555424@N00"></a>
	  </td>
	  <td class="Section">
		<h1>
		  你的所有內容  <small>31 項目 / 41 次檢視</small>
		</h1>
		<p class="LinksNewP">
		  <span class="LinksNew"><span><a href=
		  "@{Setz.mySets(currentuser)}">相片集</a></span> <span><a href=
		  "/photos/nileblack/galleries/">博覽館</a></span>
		  <span><a href="/photos/nileblack/tags/">標籤</a></span>
		  <span><a href="/photos/nileblack/people/">Flickr
		  全人類</a></span> <span><a href=
		  "/photos/nileblack/map/">地圖</a></span> <span><a href=
		  "/photos/nileblack/archives/">資料庫</a></span> <span><a href=
		  "/photos/nileblack/favorites/">最愛</a></span> 
		  <span><a title=
		  "只有你才能看到此連結" href=
		  "/photos/nileblack/popular-interesting/">熱門</a></span>		  
		  #{isMine}<span><a rel="me" href="/people/nileblack/">個人檔案</a></span>#{/isMine}
		  #{notMine}<span><a rel="me" href="@{Relationshipz.relationship(currentuser)}">加为自己人</a></span>#{/notMine}
		</p>
	  </td>
	  <td class="Extras">		
		<img width="200" height="1" alt="spacer" src=
		"http://l.yimg.com/g/images/spaceball.gif">
	  </td>
	</tr>
  </tbody>
</table>
