<table width="800" cellspacing="0" id="SubNav">
  <tbody>
	<tr>
	  <td class="Buddy" width=52>
		<a href="@{Photoz.photos(currentuser,1)}">#{avata user:visitedUser/}</a>
	  </td>
	  <td class="Section">
		<h1>
		  你的所有內容  <small></small>
		</h1>
		<p class="LinksNewP">
		  <span class="LinksNew"><span>
		  <a href="@{Setz.mySets(currentuser)}">相册</a></span> 
		</p>
	  </td>
	  <td class="Extras">		
		<img width="200" height="1" alt="spacer" src=
		"http://l.yimg.com/g/images/spaceball.gif">
	  </td>
	</tr>
  </tbody>
</table>
