#{extends 'main.html' /}
#{set title:'所有照片'/}


#{include 'Photoz/_userbar.html'/}

#{photos photos:photos/}

<div style="clear:both">  
#{if page > 1 }
  <div class="grid_3 alpha" style="display:inline;" id="prev">
	<a href="@{Photoz.photos(user.fullname,page-1)}">&{'PreviousPage'}</a>
  </div>
#{/if}

#{if totalCount> page + pageSize}
  <div class="grid_3 omega float-right" style="display:inline;"  id="next">
	<a href="@{Photoz.photos(user.fullname,page+1)}">&{'NextPage'}</a>
  </div>
#{/if}
</div>