#{extends 'main.html' /}
#{set 'title'}
	 &{'pictures'}
#{/set}

#{isMine}
#{script 'jquery.imgareaselect.comments.js'/}
#{script 'ui.core.js'/}
#{script 'ui.draggable.js'/}
#{script 'ui.resizable.js'/}
#{stylesheet 'imgareaselect-default.css'/}
#{stylesheet 'themes/base/ui.all.css'/}


<style type="text/css">
a{
	cursor:pointer;
}
#photo td{
	text-align:center;
	width: 154px;
}
textarea{
	width:100%;
	height:26px;
}
.imgtd {
}
.captd {
}
.sayHello{
	background:0px;
}
.sayHello img{
	padding:0px;
	border:0px;
	background:none;
}
#sayHello a:hover{
	background:#0ff;
}
</style>

<script>
	function rotateLeft(id){
		$.post('@{Photoz.rotateLeft()}',{id:id},function(){			
			window.location.reload();
		})
	}
	function rotateRight(id){
		$.post('@{Photoz.rotateRight()}',{id:id},function(){			
			window.location.reload();
		})
	}
	function sayHello(id){
		var editor=$("#sayHello")		
		if(editor.is(':visible'))return;
		var tdpos = $("#imgtd").position();		
		editor.css('top',tdpos.top+'px')
		editor.css('left',tdpos.left+'px')		
		$("#imgtd").append(editor);
		editor.show();
		//
		editor.draggable();
		editor.find("#hello-img").resizable();
	}
	function cancelHello(a){
		var editor = $(a).closest('div')
		editor.hide();
		//editor.remove();		
		$('#hiddendiv').append(editor);
	}
	function saveHello(a,id){		
		var editor = $(a).closest('div')
		var helloimg = editor.find('#hello-img');		
		var epos = editor.position();
		//var ipos = helloimg.position();
		var td = $('#imgtd');
		var img = td.find('#photo');
		var tdpos = td.position();
		var content = editor.find("#content").val();
		$.post('@{Photoz.sayHello()}',{id:id,
			x:(epos.left-tdpos.left - (td.width()-img.width())/2),
			y:(epos.top-tdpos.top - 5),
			w:helloimg.width(),h:helloimg.height(),
			content:content},function(){			
			window.location.reload();
		});
	}
	function revert(id){
		$.post('@{Photoz.revert()}',{id:id},function(){
			window.location.reload();
		});
	}
	function addToSets(a,id){
		$(a).parent().find(".sub_menu").load('@{Setz.listMySets(currentuser,photo.id)}');		
	}
</script>
<div id='hiddendiv' style='display:none'>
	<div id='sayHello' class='sayHello' style='display:none;position:absolute;width:120px;height:132px;'>		
		<img id='hello-img' src='/public/images/hello-lt.gif' style='width:120px;height:70px;'/>	
		<table style="120px;height:62px;margin:0px;border:0px;">
			<tr style="height:40px"><td style="border:0px;padding:0px"><textarea id="content">&{'sayHello'}</textarea></td></tr>
			<tr style="height:22px;"><td style="border:0px;padding:0px"><a onclick="saveHello(this,'${photo.id}')">&{'save'}</a><a  onclick="cancelHello(this)">&{'cancel'}</a></td></tr>
		</table>	
	</div>
</div>
#{/isMine}

<table >
	<tr>
	<td width="502px" style="padding-right:50px;">
		<table id="photo">
			<tr>
			<td id='' style='text-align:left;'>
				<h3>&{photo.caption}</h3>
			</td>
			</tr>
			<tr>
				<td id='' style='text-align:left'>
					<div id="phototools" style="clear:both">		
						<ul >
					#{isMine}
						<li><a onclick="addToSets(this,${photo.id})"><img class="arrow" alt="添加到相册" src="@{'/public/images/addtosets.png'}"/></a>
							<div class="sub_menu">
								正在载入相册...
							</div>
						</li>
						<li ><a  onclick="rotateRight((${photo.id}))"><img alt="&{'rotateRight'}" src="@{'/public/images/rotate_l.png'}"/></a></li>
						<li ><a  onclick="rotateLeft((${photo.id}))"><img alt="&{'rotateLeft'}" src="@{'/public/images/rotate_r.png'}"/></a></li>
						<li ><a  onclick="sayHello((${photo.id}))"><img alt="&{'sayHello'}" src="@{'/public/images/sayhello.gif'}"/></a></li>
						<li ><a  onclick="revert((${photo.id}))"><img alt="&{'revert'}" src="@{'/public/images/revert.jpg'}"/></a></li>
						<li ><a  onclick="delete((${photo.id}))"><img alt="&{'delete'}" src="@{'/public/images/delete.png'}"/></a></li>
					#{/isMine}	
						</ul >
					</div>
				</td>
			</tr>
			<tr>
			<td id='imgtd'>
				<img id='photo' src="/${photo.prefPath}"/>
			</td>
			</tr>
			<tr>
			<td id=''>
				&{photo.description}
			</td>
			</tr>
		</table>
		#{if responses.size() >0}
			<h4 style='color:red;font-style:bold;'>&{'Responses'}</h4>
			<table>
				#{list items:responses, as:'resp'}
				<tr><td style='width:40px'>${resp.author.fullname}</td>
				<td style='text-align:left'>
					<label >${resp.postedAt.format('yyyy/MMM/dd')}</label>	
					${resp.content}</p>
				</td>
				</tr>
				#{/list}
			</table>
		#{/if}
		#{isLogin}
			<style>
			form{
				border:0px;
				margin:0px;
				padding:0px;
			}
			</style>
			<div style='width:400px'>
			<h4 style='color:red'>&{'addYourResponse'}</h4>
			#{form @Photoz.responses().add('id',photo.id)}    
				<p>
					<label for="content">&{'YourMessage'} </label>
					<textarea style='height:60px' name="content" id="content">${content}</textarea>
				</p>
				<p>
					<input class='button' type="submit" value="&{'SubmitYourComment'}" />
				</p>
			#{/form}
			</div>
		#{/isLogin}
	</td>
	<td valign="top">
		<div>
			<h4>相片中的人</h4>
		</div>
		<div>
			<h4>标签</h4>
		</div>
		<div>
			<h4>其他信息</h4>
		</div>
	</td></tr>
</table>

<script type="text/javascript">

$(document).ready(function(){

	$("#phototools img.arrow").click(function(){ 
								
		$("span.head_menu").removeClass('active');
		
		submenu = $(this).parent().parent().find("div.sub_menu");
		
		if(submenu.css('display')=="block"){
			$(this).parent().removeClass("active"); 	
			submenu.hide(); 		
			//$(this).attr('src','@{'/public/images/arrow_hover.png'}');									
		}else{
			$(this).parent().addClass("active"); 	
			submenu.fadeIn(); 		
			//$(this).attr('src','@{'/public/images/arrow_select.png'}');	
		}
		
		$("div.sub_menu:visible").not(submenu).hide();
		//$("#phototools img.arrow").not(this).attr('src','@{'/public/images/arrow.png'}');
						
	})
	.mouseover(function(){ 
		//$(this).attr('src','@{'/public/images/arrow_hover.png'}'); 
		})
	.mouseout(function(){ 
		if($(this).parent().parent().find("div.sub_menu").css('display')!="block"){
			//$(this).attr('src','@{'/public/images/arrow.png'}');
		}else{
			//$(this).attr('src','@{'/public/images/arrow_select.png'}');
		}
	});

	$("#phototools span.head_menu").mouseover(function(){ $(this).addClass('over')})
								 .mouseout(function(){ $(this).removeClass('over') });
	
	$("#phototools div.sub_menu").mouseover(function(){ $(this).fadeIn(); })
							   .blur(function(){ 
							   		$(this).hide();
									$("span.head_menu").removeClass('active');
								});		
								
	$(document).click(function(event){ 		
			var target = $(event.target);
			if (target.parents("#phototools").length == 0) {				
				$("#phototools span.head_menu").removeClass('active');
				$("#phototools div.sub_menu").hide();
				//$("#phototools img.arrow").attr('src','@{'/public/images/arrow.png'}');
			}
	});			   
});
</script>
