<table>    
    <tr><td width="77px">#{if previous == null }<small>第一张</small>#{/if}
        #{ifnot previous == null}<a href="@{Photov.viewPhotoInSets(previous.author.fullname, previous.id, sets.id)}">#{photo photo:previous,as:'75'/}</a>#{/ifnot}</td>
        <td width="77px">#{if next == null }<small>最后一张</small>#{/if}
            #{ifnot next == null} <a href="@{Photov.viewPhotoInSets(next.author.fullname, next.id, sets.id)}">#{photo photo:next,as:'75'/}</a>#{/ifnot}</td>
        <td rowspan="3" width="50px" valign="middle"><b>相册中共有 ${sets.countPhotos()}张相片</b></td></tr>
    <tr><td style="line-height:20px;">#{ifnot previous == null } <a onclick="updatesetsinfo(this,'@{Setv.viewSetsOfPhoto(sets.id, previous?.id)}')">上一张</a> #{/ifnot}</td>
        <td align="right">#{ifnot next == null }<a onclick="updatesetsinfo(this,'@{Setv.viewSetsOfPhoto(sets.id, next?.id)}')">下一张</a>#{/ifnot}</td></tr>
</table>