<script>
		function addPhotoToSets(setid,photoid){
			$.post('@{Setz.addPhotoToSets()}',{setsId:setid,photoId:photoid},function(){
				if ($("#nicemenu").length != 0) {
					$("#nicemenu span.head_menu").removeClass('active');
					$("#nicemenu div.sub_menu").hide();
                    updateSetsInfo(setid,true);
				}
			});
		}
		function removePhotoFromSets(setid,photoid){
			$.post('@{Setz.removePhotoFromSets()}',{setsId:setid,photoId:photoid},function(){
				if ($("#nicemenu").length != 0) {
					$("#nicemenu span.head_menu").removeClass('active');
					$("#nicemenu div.sub_menu").hide();
                    updateSetsInfo(setid,false);
				}
			});
		}
		function createNewset(bt){
			var url = $(bt).closest('form').attr('action');
			$.post(url, {username:$('#username').val(),newset:$('#newset').val()}, function(ret){
                addPhotoToSets(ret,${photoId});
			},'JSON');
		}
    function updateSetsInfo(setid,isadd){
             $("#loading-div").load('@{Setv.setsInfoOfPhoto(photo.id)}',{},function( ret, status){
               if(isadd){
                   $("#sets-div").append($(ret).find("#sets-"+setid))
                   $("#sets-div").find("#sets-"+setid).collapse();
               }else{
                   $("#sets-div").find("#sets-"+setid).remove();
               }
             },'html');
           }
       
</script>
        
<div id='setlist'>
<small>选择一个已有相册</small>
<table>
#{list items:sets, as:'s'}
	%{def hasadded = (s.photos.contains(photo))}%
	<tr><td>#{if !hasadded }<a href="javascript:addPhotoToSets(${s.id},${photoId})">${s.name}</a>#{/if} #{if hasadded} ${s.name} #{/if}</td>
	<td>#{if hasadded }<a href="javascript:removePhotoFromSets(${s.id},${photoId});">移除</a>#{/if}</td></tr>
#{/list}
</table>
<small>或是为它创建一个相册</small>    
#{form @Setz.newset() }	
	<input type='hidden' id='username' value='${username}'/>
	<input type='text' id='newset'><input type='button' onclick='createNewset(this)' class='button' value='创建'>
#{/form}
</div>