#{extends 'main.html' /}
#{set title:'所有照片'/}
#{script '../lightbox/js/jquery.lightbox-0.5.min.js'/}
#{stylesheet '../lightbox/css/jquery.lightbox-0.5.css'/}

#{include '_userbar.html'/}

#{table items:photos,as:'photo',cols:3,style:'border-spacing:8px;'}
	#{td id:"captd"} <div id="${photo.id}" class='cap' >${photo.caption}</div>#{/td}
	#{td id:"imgtd"}
            <div class='imgbock'><a href='@{Photov.viewPhotoInSets(photo.author.fullname,photo.id,sets.id)}'>#{photo photo:photo,as:'240'/}</a></div>
            <div id="${photo.id}" class='desc mini' >${photo.description}</div>
            <div id='info' vpid='${photo.id}'>更新于${photo.uploadAt.format('yyyy/mm/dd')}<a onclick='deletePhoto(this)' >删除</a>
	#{/td}
    #{onNull}&nbsp;#{/onNull}
#{/table}

<div style="clear:both">
#{if page > 1 }
  <div class="grid_3 alpha" style="display:inline;" id="prev">
	<a href="@{Setv.viewPhotosInSets(visitedUser.fullname,sets.id,page-1)}">&{'PreviousPage'}</a>
  </div>
#{/if}

#{if totalCount> page * pageSize}
  <div class="grid_3 omega float-right" style="display:inline;"  id="next">
	<a href="@{Setv.viewPhotosInSets(visitedUser.fullname,sets.id,page+1)}">&{'NextPage'}</a>
  </div>
#{/if}
</div>                