#header {
	text-align:center;
	position: relative;
	height: 65px;
	background: #FFF;
	padding: 0px;	
	color: #000;
	background:url(../images/dotted.gif) repeat-x left bottom;
	/* font-size: 14px; */
	margin-bottom: 25px;
}
#header .Header,#header .NavBar{
	padding: 0px;
	border: 0px;
	margin:auto;
	width: 820px;
}
.NavBar {
	width: 820px;
}
.NavBar ul {	
	list-style: none;
	margin:0;
	padding: 0;
}
.NavBar li {
	float:left;
	display: inline;
	font-weight: bold;
	/*margin-right: 16px;*/
}
#header td{
	padding : 4px 2px 0px 0px;
}
#header input[type='text']{	
	margin : 0px;
	margin-bottom: 2px;
}
#header #search_header_form_td{
	padding-top: 0px;
	text-align: right;
}
.align-right{
	text-align: right;
}
/* Menu */


#nicemenu { font-size:13px;  }
#nicemenu a { color:#0066CC; text-decoration:none; text-align:left;}
#nicemenu a:hover { text-decoration:underline; }	
#nicemenu li { display:inline; position:relative; }
#nicemenu li span { position:relative; z-index:10; padding:4px 4px 0px 6px;  border-bottom:none; line-height:18px; }	
#nicemenu li span a { font-weight:bold; padding:0 6px 0px 2px;  }	
#nicemenu li span.over { padding:4px 3px 0px 5px;  border-top:solid 1px #E5E5E5; border-left:solid 1px #E5E5E5;  border-right:solid 1px #999999; border-bottom:solid 1px #fff;  }
*+html #nicemenu li span.over {  border-top:solid 2px #E5E5E5; padding-bottom:3px; } /* IE6 */
#nicemenu li span.over a { }
#nicemenu li span.over a:hover { text-decoration:none; }
#nicemenu li span.active { padding:4px 3px 0px 5px;  border-top:solid 1px #E5E5E5; border-left:solid 1px #E5E5E5;  border-right:solid 1px #999999; border-bottom:solid 1px #fff;  }
*+html #nicemenu li span.active {  border-top:solid 2px #E5E5E5; padding-bottom:3px; }
#nicemenu li span.active a { }
#nicemenu li span.active a:hover { text-decoration:none; }	
#nicemenu img.arrow { /*margin-left:4px;*/ cursor:pointer; }
#nicemenu div.sub_menu { z-index:200; display:none; position:absolute; left:0; top:0px; margin-top:18px; border-top:solid 0px #E5E5E5; border-left:solid 1px #E5E5E5; border-right:solid 1px #999999; border-bottom:solid 1px #999999; padding:4px; top:0px; width:160px; background:#FFFFFF; }
* html #nicemenu div.sub_menu { margin-top:23px; } /* IE6 */
*+html #nicemenu div.sub_menu { margin-top:23px; } /* IE7 */
#nicemenu div.sub_menu a:link, 
#nicemenu div.sub_menu a:visited, 
#nicemenu div.sub_menu a:hover{ display:block; font-size:12px; padding:4px;}	
#nicemenu a.item_line { border-top:solid 1px #E5E5E5; padding-top:6px !important; margin-top:3px; }
#nicemenu ul{padding:0px;margin:0px;}

#box_menu  li span{
	padding: 6px 2px 1px 2px;
}
#box_menu  li span.over{
	padding:5px 1px 0px 1px;
	border-bottom:solid 1px #E5E5E5; 
}

input.button,.inplace button { 
	font-weight: bold ; 
	padding: 4px; 
	color: #FFF;
	background: #0063DC ;
	border: none;
	margin-left:15px;
}

.top{
	vertical-align:top;
}
.float-right{
	float: right;
}
.post-metadata{
	color: #666;
	margin-bottom: 5px;
}
.post-content{
	margin :  15px 5px 20px 5px;
}
.inplace textarea{
	height:60px;
}

.imgtd{
	width: 250px;
}

.tagEditor
{
	margin: 4px 0;
	padding: 0;
}

.tagEditor li
{
	display: inline;
	background-image: url(../images/minus_small.png);
	background-color: #eef;
	background-position: right center;
	background-repeat: no-repeat;
	list-style-type: none;
	padding: 0 18px 0 6px;
	margin: 0 4px;	
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.tagEditor li:hover
{
	background-color: #eee;
}

div.section_bar h4 {
	background:url("../images/c.gif") no-repeat scroll 100% 0 transparent;
	color:#222222;
	text-indent:5px;
	width:100%;
	background-color:#E5ECF9;
}
div.section_bar h4.collapse {
	background:url("../images/e.gif") no-repeat scroll 100% 0px #DAE4ED;
}
