#{extends 'main.html' /}
<script src="@{'/public/javascripts/xheditor/xheditor.js'}"></script> 

#{ifnot post?.id}
    &{'InfoWriteANewPost'}
#{/ifnot}
#{else}
    &{'InfoEditThisPost'}
#{/else}
 
#{form @save(post?.id)}
 
    #{ifErrors}
        <p class="error">
            &{'PleaseCorrectTheseErrors'}
        </p>
    #{/ifErrors}
     
    <p>
        #{field 'title'}
        <label>&{'PostTitle'}</label>
        <input type="text" name="${field.name}" 
            value="${post?.title}" class="${field.errorClass}" style="width:80%"/>
        #{/field}
    </p>
 
    <p>
        #{field 'content'}
        <label>&{'WriteHere'}</label>
        <textarea name="${field.name}" id="xheditor"  style="width: 100%;height: 400px;"
            class="${field.errorClass}">${post?.content}</textarea>
        #{/field}
    </p>
 
    <p>
        #{field 'tags'}
        <label>&{'EnterSomeTags'}</label>
        <input type="text" size="50" 
            name="${field.name}" value="${post?.tags?.join(' ')}" />
        #{/field}
    </p>
    
    <p>
        <input class='button' type="submit" value="&{'PublishThisPost'}" />
    </p>
    
#{/form}
<script type="text/javascript">
$(pageInit);
function pageInit(){
	//GStart,GEnd,Separator,Cut,Copy,Paste,Pastetext,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,Removeformat,Align,List,Outdent,Indent,Link,Unlink,Img,Flash,Media,Emot,Table,Source,Preview,Fullscreen,About
	var editor = $('#xheditor').xheditor(true,{
		//skin:'o2007blue',
		tools:'Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,Removeformat,GStart,Align,List,Outdent,Indent,Link,Unlink,Img,Emot,Table,Fullscreen',
		upImgUrl:"@{Photoz.upload(post?.id)}",upImgExt:"jpg,jpeg,gif,png"});
	editor.focus();
}
</script>
