#{extends 'main.html' /}
#{set title:'故事'/}

#{include '_userbar.html'/}        

#{isMine}
<p id="newPost" class='float-right'>
    <a href="@{Postz.form()}"><span>+</span>&{'WriteANewPost'}</a>
</p>
#{/isMine}

#{if frontPost}
    #{display post:frontPost, as:'home' /}
#{/if}
#{if olderPosts.size() > 0 }
	<div class="older-posts">    
	   &{'OlderPosts'}
		#{list items:olderPosts, as:'oldPost'}
			 #{display post:oldPost, as:'teaser' /}
		#{/list}
	</div>
	
#{/if}
    

#{if totalCount == 0}
    <div class="empty">
        &{'NoPost'}
    </div>
#{/if}
<br/>

<ul id="pagination">
#{if offset > 0}
        <li id="previous">
			<a href="@{history(((offset-pageSize) > 0 ? (offset-pageSize) : 0),pageSize,visitedUser.fullname)}">&{'btNewerPosts'}</a>
        </li>
    #{/if}
#{if offset + pageSize < totalCount }
	<li id="next">
		<a href="@{history(offset + pageSize, pageSize,visitedUser.fullname)}">&{'btOlderPosts'}</a>
    </li>
#{/if}
</ul>
 
