#{extends 'main.html' /}
#{set title:'故事'+post.title /}

<div class="span-13 prepend-0">

#{isMine}
<script type="text/javascript" src="@{'/public/javascripts/nicedit/nicEdit.js'}"></script>

<script type="text/javascript">
var contentArea,titleArea,tagArea;
function startEdit(){	
	if(!contentArea) {
		$('#editbutton').unbind('click');
		$('#editbutton').html('<span>+</span>保存');
		$('#editbutton').click(stopedit);
		editor = new nicEditor({
			iconsPath:'@{'/public/javascripts/nicedit/nicEditorIcons.gif'}',
			buttonList : ['fontSize','bold','italic','underline','strikeThrough','forecolor','bgcolor','link','unlink','html','image']
		});
		contentArea = editor.panelInstance('post-content',{hasPanel : true});	
		titleArea = new nicEditor().addInstance('post-title');
		$('#post-title').css('background-color','lightyellow');
		$('#post-tags').html($('#post-tags').text());
		tagArea = new nicEditor().addInstance('post-tags');
		$('#post-tags').css('background-color','lightyellow');
	}
}
function stopedit(){	
	var url = "@{Postz.listTagged('notag',post.author.fullname)}"

	$.post('@{Postz.save(post?.id)}',{
		title: $('#post-title').text().trim(),
		content: $('#post-content').html().trim(),
		tags: $('#post-tags').text()},		
		function(){			
			contentArea.removeInstance('post-content');
			titleArea.removeInstance('post-title');
			tagArea.removeInstance('post-tags');
			$('#editbutton').html('<span>+</span>修改故事');
			$('#editbutton').unbind('click');
			$('#editbutton').click(startEdit);
			$('#post-title').css('background-color','');
			
			tags = $('#post-tags').text().split(',');
			$('#post-tags').empty();
			$.each(tags,function(idx,val){
				if(val.trim().length>0)
					$('#post-tags').append("<a href='"+url.replace('notag',val.trim()) + "' >" + val +"</a>," );
			});
			
			contentArea = null;
			titleArea = null;
			tagArea = null;			
		});
}
$(document).ready(function(){
	$('#editbutton').click(startEdit);	
});
</script>
<p id="newPost" class='float-right'>
    <a id="editbutton" ><span>+</span>&{'EditPost'}</a>
</p>
#{/isMine}

#{display post:post, as:'full' /}

<div class='box'>
		
	  <div id="prev" style="display: inline;" class="grid_3 alpha">
		#{if post.previous()}
		上一篇：<a href="@{Postz.show(post.author.fullname,post.previous().id)}">
					${post.previous().title}
		</a>
		#{/if}
		#{else}
			&nbsp;
		#{/else}
	  </div>
	  <div id="next" class="float-right" style="display: inline; ">
		#{if post.next()}
		下一篇：<a href="@{Postz.show(post.author.fullname,post.next().id)}">
			${post.next().title}
		</a>
		#{/if}
		#{else}
		&nbsp;
		#{/else}
	  </div>
</div>


#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}

#{responses responses:responses , as:'post'/}
</div>
<div class="span-6 last">
</div>