#{extends 'main.html' /}
#{set title:'故事'+post.title /}

<div class="span-13 prepend-0">

#{isMine}
<p id="newPost" class='float-right'>
    <a href="@{Postz.form(post.author.fullname,post.id)}"><span>+</span>&{'EditPost'}</a>
</p>
#{/isMine}


 
#{display post:post, as:'full' /}

<div class='box'>
		#{if post.previous()}
	  <div id="prev" style="display: inline;" class="grid_3 alpha">
		上一篇：<a href="@{Postz.show(post.author.fullname,post.previous().id)}">
					${post.previous().title}
		</a>
	  </div>
	  #{/if}
		#{if post.next()}
	  <div id="next" class="float-right" style="display: inline; ">
		下一篇：<a href="@{Postz.show(post.author.fullname,post.next().id)}">
			${post.next().title}
		</a>
	  </div>
		#{/if}
</div>


#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}

#{responses responses:responses , as:'post'/}
</div>
<div class="span-6 last">
</div>
