#{extends 'main.html' /}
#{set 'title'}
	 图片 ${photo.caption}
#{/set}

#{isMine}
#{script 'jquery.imgareaselect.comments.js'/}
#{script 'ui.core.js'/}
#{script 'ui.draggable.js'/}
#{script 'ui.resizable.js'/}
#{stylesheet 'imgareaselect-default.css'/}
#{stylesheet 'themes/base/ui.all.css'/}
#{script 'setsinfo.js'/}

<style type="text/css">
a{
	cursor:pointer;
}
#photo td{
	text-align:center;
	/*width: 154px;*/
}
textarea{
	width:100%;
	height:26px;
}
.imgtd {
}
.captd {
}
.sayHello{
	background:0px;
}
.sayHello img{
	padding:0px;
	border:0px;
	background:none;
}
#sayHello a:hover{
	background:#0ff;
}
</style>

<script>
	function rotateLeft(id){
		$.post('@{Photoz.rotateLeft()}',{id:id},function(){			
			window.location.reload();
		})
	}
	function rotateRight(id){
		$.post('@{Photoz.rotateRight()}',{id:id},function(){			
			window.location.reload();
		})
	}
	function sayHello(id){
		var editor=$("#sayHello")		
		if(editor.is(':visible'))return;
		var tdpos = $("#imgtd").position();		
		editor.css('top',tdpos.top+'px')
		editor.css('left',tdpos.left+'px')		
		$("#imgtd").append(editor);
		editor.show();
		//
		editor.draggable();
		editor.find("#hello-img").resizable();
	}
	function cancelHello(a){
		var editor = $(a).closest('div')
		editor.hide();
		//editor.remove();		
		$('#hiddendiv').append(editor);
	}
	function saveHello(a,id){		
		var editor = $(a).closest('div')
		var helloimg = editor.find('#hello-img');		
		var epos = editor.position();
		//var ipos = helloimg.position();
		var td = $('#imgtd');
		var img = td.find('#photo');
		var tdpos = td.position();
		var content = editor.find("#content").val();
		$.post('@{Photoz.sayHello()}',{id:id,
			x:(epos.left-tdpos.left - (td.width()-img.width())/2),
			y:(epos.top-tdpos.top - 5),
			w:helloimg.width(),h:helloimg.height(),
			content:content},function(){			
			window.location.reload();
		});
	}
	function revert(id){
		$.post('@{Photoz.revert()}',{id:id},function(){
			window.location.reload();
		});
	}
	function addToSets(a,id){
		$(a).parent().find(".sub_menu").load('@{Setv.listMySets(currentuser,photo.id)}');		
	}
</script>

<div id='hiddendiv' style='display:none'>
	<div id='sayHello' class='sayHello' style='display:none;position:absolute;width:120px;height:132px;'>		
		<img id='hello-img' src='/public/images/hello-lt.gif' style='width:120px;height:70px;'/>	
		<table style="120px;height:62px;margin:0px;border:0px;">
			<tr style="height:40px"><td style="border:0px;padding:0px"><textarea id="content">&{'sayHello'}</textarea></td></tr>
			<tr style="height:22px;"><td style="border:0px;padding:0px"><a onclick="saveHello(this,'${photo.id}')">&{'save'}</a><a  onclick="cancelHello(this)">&{'cancel'}</a></td></tr>
		</table>	
	</div>
</div>
#{/isMine}

<table >
	<tr>
	<td width="502px" style="padding-right:50px;" valign="top">
		<table id="photo">
			<tr>
			<td>
				<div id='${photo.id}' class='cap'>&{photo.caption}</div>
			</td>
			</tr>
			<tr>
				<td style='text-align:left'>
					<div id="nicemenu" style="clear:both">		
						<ul >
					#{isMine}
						<li><a onclick="addToSets(this,${photo.id})"><img class="arrow noswap" alt="添加到相册" src="@{'/public/images/addtosets.png'}"/></a>
							<div class="sub_menu">
								正在载入相册...
							</div>
						</li>
						<li ><a  onclick="rotateRight((${photo.id}))"><img alt="&{'rotateRight'}" src="@{'/public/images/rotate_l.png'}"/></a></li>
						<li ><a  onclick="rotateLeft((${photo.id}))"><img alt="&{'rotateLeft'}" src="@{'/public/images/rotate_r.png'}"/></a></li>
						<li ><a  onclick="sayHello((${photo.id}))"><img alt="&{'sayHello'}" src="@{'/public/images/sayhello.gif'}"/></a></li>
						<li ><a  onclick="revert((${photo.id}))"><img alt="&{'revert'}" src="@{'/public/images/revert.jpg'}"/></a></li>
						<li ><a  onclick="delete((${photo.id}))"><img alt="&{'delete'}" src="@{'/public/images/delete.png'}"/></a></li>
					#{/isMine}	
					#{isLogin}
                        <li ><a  href="@{Userz.changeAvatar(photo.id)}"><img alt="&{'delete'}" src="@{'/public/images/changeavatar.jpg'}"/></a></li>
                    #{/isLogin}
						</ul >
					</div>
				</td>
			</tr>
			<tr>
			<td id='imgtd' style='width:500px;text-align:left'>
				#{photo photo:photo,as:'500',id:'photo'/}
			</td>
			</tr>
			<tr>
			<td  style='width:500px;text-align:left;'>
				<div id="${photo.id}" class='desc large'>&{photo.description}</div>
			</td>
			</tr>
		</table>        
		#{responses responses:responses/}
	</td>
	<td valign="top">
        <h4>提供图片的人</h4>
		<div style="line-height:40px">
            <table>
                <tr><td>#{avatar user:photo.author,as:24/}</td><td>#{screenname photo.author/}上传于${photo.uploadAt.format('yyyy-MM-dd')}</td></tr>			     
            </table>
		</div>
        #{if insets.size() > 0}
        <h4>相片属于相册</h4>
		<div style="line-height:40px">
            #{list items:insets,as:'sets'}
            <div class="collapse"><span onclick="$(this).closest('.collapse').find('#container').load('@{Setv.viewSetsOfPhoto(sets.id, photo.id)}')">+</span><a href="@{Setv.viewSets(currentuser,sets?.id)}" > ${sets.name}</a>
            <div id="container"></div></div>
            #{/list}
		</div>
        #{/if}
        <!--
		<div>
			<h4>相片中的人</h4>
		</div>
		<div>
			<h4>标签</h4>
        </div>
		<div>
			<h4>其他信息</h4>
		</div>
		-->
	</td></tr>
</table>
#{isMine}
	#{script 'jquery.jeditable.js'/}
	<script>
	$(document).ready(function(){
			$('div.cap').editable('@{Photoz.caption()}',{placeholder:'点击这里修改',name:'val',onblur:'ignore', submit:'保存',cancel:'取消'});
			$('div.desc').editable('@{Photoz.desc()}',{placeholder:'点击这里添加描述',name:'val',onblur:'ignore', submit:'保存',cancel:'取消',rows:10,type:'textarea'});
	});
	</script>
#{/isMine}
