#{extends 'main.html' /}
#{set title:'所有照片'/}
#{script '../lightbox/js/jquery.lightbox-0.5.min.js'/}
#{stylesheet '../lightbox/css/jquery.lightbox-0.5.css'/}

#{include 'Photoz/_userbar.html'/}

#{table items:sets.photos,as:'photo',cols:3,style:'border-spacing:8px;'}
	#{td id:"captd"} <div id="${photo.id}" class='cap' >${photo.caption}</div>#{/td}
	#{td id:"imgtd"}
            <div class='imgbock'><a href='@{Photoz.viewPhoto(photo.author.fullname,photo.id)}'>#{photo photo:photo,as:'240'/}</a></div>
            <div id="${photo.id}" class='desc mini' >${photo.description}</div>
            <div id='info' vpid='${photo.id}'>更新于${photo.uploadAt.format('yyyy/mm/dd')}<a onclick='deletePhoto(this)' >删除</a><a href='@{Photoz.viewPhoto(photo.author.fullname,photo.id)}'>查看</a>
	#{/td}
    #{onNull}&nbsp;#{/onNull}
#{/table}