#{extends 'main.html' /}
#{set title:'个人信息'/}
#{script 'jquery.jeditable.js'/}
<div class="section_bar" collapsable="false">
	<h4>基本信息</h4>
</div>
<div id='basic'>
	<table>
		<tr><td id="label"><label>你的Email地址</label></td></tr>
		<tr><td id="value">${user.email}</td></tr>
		<tr><td id="label"><label>你的名字</label></td></tr>
		<tr><td id="value"><div style='margin:0px;' class="cap" id="screenname">${user.screenname}</div></td></tr>
		<tr><td id="label"><label>你的独立网站</label></td></tr>
		<tr><td id="value"><a href='http://www.jsxnc.com/photos/${user.fullname}'>http://www.jsxnc.com/photos/${user.fullname}</a></td></tr>
		<tr><td id="label"><label><a href="@{Userz.changePassword()}">修改密码</a></label></td></tr>		
		<tr><td id="info">定期修改密码是一个好习惯。</td></tr>
		<tr><td id="label"><label>你的大头贴</label></td></tr>
		<tr><td id="value">#{avatar user:user/}</td></tr>
		<tr><td id="info">你可以在浏览任何图片的时候制作成自己的大头贴。</td></tr>
	</table>
</div>
*{
<div class="section_bar" collapsable="true">
	<h4>博客信息</h4>
</div>
<div id='site'>
	<table>
		<tr><td id="label"><label>名称</label></td></tr>
		<tr><td id="value">sitename</td></tr>
		<tr><td id="label"><label>模板</label></td></tr>
		<tr><td id="value">template</td></tr>
	</table>
</div>
}*
<script type="text/javascript">
    $(document).ready(function(){
		$(".section_bar").each(function(){
			$(this).click(function(){
				$(this).find("h4").toggleClass("collapse");
				$(this).next().toggle();
			});
			if($(this).attr('collapsable')=='true')
				$(this).trigger('click');
		});
        $('#screenname').editable('@{Userz.saveScreename()}',{placeholder:'点击这里修改',name:'val',submit:'保存',cancel:'取消'});
    });
</script>
