#{extends 'main.html' /}
#{set title:'个人信息'/}
<h1>个人信息</h1>
<table>
	<tr><td id="label"><label>你的Email地址</label></td></tr>
	<tr><td id="value">${user.email}</td></tr>
	<tr><td id="info">&nbsp;</td></tr>
	<tr><td id="label"><label>你的独立网站</label></td></tr>
	<tr><td id="value"><a href='http://www.xiaoyixia.com/photos/${user.fullname}'>http://www.xiaoyixia.com/photos/${user.fullname}</a></td></tr>
	<tr><td id="info">&nbsp;</td></tr>
	<tr><td id="label"><label><a href="@{Userz.changePassword()}">修改密码</a></label></td></tr>		
	<tr><td id="info">定期修改密码是一个好习惯。</td></tr>
</table>
