#{extends 'main.html' /}
#{set title:'修改密码'/}
<h1>修改密码</h1>
#{form @saveNewPassword()}
<table>
	<tr><td id="label"><label>现在的密码</label></td></tr>	
	<tr><td><input type="password" name="currentPassword" value="${flash.currentPassword}"><span id='error'>#{error 'currentPassword' /}</span></td></tr>
	<tr><td id="info">给自己设定一个密码。</td></tr>
	<tr><td id="label"><label>新的密码</label></td></tr>	
	<tr><td><input type="password" name="newpassword" value="${flash.newpassword}"><span id='error'>#{error 'newpassword' /}</span></td></tr>
	<tr><td id="info">给自己设定一个密码。</td></tr>
	<tr><td id="label"><label>新的密码确认</label></td></tr>	
	<tr><td><input type="password" name="newpassword2" value="${flash.newpassword2}"><span id='error'>#{error 'newpassword2' /}</span></td></tr>
	<tr><td id="info">给自己设定一个密码。</td></tr>
	
	<tr><td><input type="submit" name="submit" value="更新"></td></tr>	
</table>
#{/form}