#{extends 'main.html' /}
#{set title:'新用户注册'/}
<table id="layout">
	<tr><td>
		<h1>新用户注册</h1>
		<table>
		#{form @save()}
			<tr><td id="label"><label>你的Email地址</label></td></tr>
			<tr><td><input type="text" name="email" value="${flash.email}"><span id='error'>#{error 'email' /}</span></td></tr>
			<tr><td id="info">邮件地址，用于登录。</td></tr>
			<tr><td id="label"><label>给自己设定一个密码</label></td></tr>	
			<tr><td><input type="password" name="password" value="${flash.password}"><span id='error'>#{error 'password' /}</span></td></tr>
			<tr><td id="info">给自己设定一个密码。</td></tr>
			<tr><td id="label"><label>确认一下密码</label></td></tr>	
			<tr><td><input type="password" name="password2" value="${flash.password2}"><span id='error'>#{error 'password2' /}</span></td></tr>
			<tr><td id="info">确认一次，以防输入有误哦。</td></tr>	
			<tr><td id="label"><label>给自己设定一个独一无二的网址</label></td></tr>
			<tr><td>http://www.xiaoyixia.com/photos/<input type="text" name="fullname" value="${flash.fullname}"><span id='error'>#{error 'fullname' /}</span></td></tr>
			<tr><td id="info">最少5个字符，可以使用英文字母a到z或数字。比如：happy2010</td></tr>
			<tr><td id="label"><label></label></td></tr>	
			<tr><td><input type="submit" name="submit" value="注册"></td></tr>	
		#{/form}
		</table>
	</td>
	<td id="info">
		已经注册？<br/><a href="@{Secure.login()}">登录</a>吧！
	</td>
	</tr>
</table>