#{extends 'main.html' /}

#{isLogin}
	#{include '_userbar.html'/}
#{/isLogin}


<div class="span-13 prepend-0">
#{if photo}
	<a href='@{Photov.viewPhoto(photo?.author?.fullname,photo.id)}'>#{photo photo:photo,as:'500'/}</a><br/>
	#{screenname photo?.author/} 上传于 ${photo.uploadAt.format('yyyy-MM-dd')}
#{/if}
	<br/>
	<br/>
</div>


<div class="span-6 last">
	

</div>

<script>
$(document).ready(function(){  
  $(".msg_body").hide();
  $(".msg_head").click(function()
  {
    $(this).next(".msg_body").slideToggle(600);
  });
});
</script>
