<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9838740-2");
pageTracker._setDomainName(".jsxnc.com");
pageTracker._trackPageview();
} catch(err) {}</script>
<div class="box">
<script type="text/javascript"><!--
google_ad_client = "pub-1729111137831003";
/* 728x15, 创建于 10-4-5 */
google_ad_slot = "2692212600";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>