<table class="Header" border="0" cellspacing="0">
	<tr style='height:35px;'>
		<td>
			<a href="/"><img src="@{'/public/images/logo.png'}" class="logo" alt="Jsxnc 标志。点击一下返回首页" height="30" width="180"></a>
		</td>
		<td class='alignright'>
			#{isLogin}
				以 #{screenname user/} 登入
			#{/isLogin}
			#{notLogin}
				<a href="@{Userz.register()}" class="Pale">现在加入</a> &nbsp;&nbsp;&nbsp;
				<a href="@{Secure.login()}" class="Pale">登入</a> 
			#{/notLogin}
				&nbsp;&nbsp;
				<a href="/help/">Jsxnc 小帮手</a>
			#{isLogin}
				&nbsp;&nbsp;
				<a href="@{Secure.logOut()}">登出</a>
			#{/isLogin}
		</td>
	</tr>
</table>

<table class="NavBar" border="0" cellspacing="0">
	<tr style='height:30px'>
		<td>
		<div id="nicemenu">
			<ul >
				<li ><span class="head_menu"><a href="/">首页</a></span></li>
			#{isLogin}
				<li ><span class="head_menu"><a href="@{Photov.home(user.fullname)}">我的足迹</a> 
				<img src="@{'/public/images/site_nav_caret_split_default.png'}" class="arrow" alt="更多选项" height="15" width="18"></span>
				<div class="sub_menu">
					<a href="@{Photov.photos(user.fullname,1)}">我的所有照片</a>
					<a href="@{Setv.mySets(user.fullname)}">我的相册</a>										
					<a href="@{Photoz.prepareUpload()}" class="item_line">上传照片</a>
					<a href="@{Photoz.prepareGrab()}">收藏照片</a>
					<a href="@{Postz.index(user.fullname)}" class="item_line">我的故事</a>
					<a href="@{Postz.form()}" >开始新的故事</a>
				</div>
				</li>
				<li ><span class="head_menu"><a href="@{Photov.home(user.fullname)}">管理和设置</a> 
				<img src="@{'/public/images/site_nav_caret_split_default.png'}" class="arrow" alt="更多选项" height="15" width="18"></span>
				<div class="sub_menu">
					<a href="@{Userz.account()}">我的帐户</a>
				</div>
				</li>
				<li><span class="head_menu"><a href="@{Channelz.list(user.fullname)}">频道</a>
					<img src="@{'/public/images/site_nav_caret_split_default.png'}" class="arrow" alt="更多选项" height="15" width="18"></span>
					<div class="sub_menu">
						<a href="@{Channelz.newchannel()}">新建频道</a>
					</div>
				</li>
			#{/isLogin}
			#{notLogin}
				<li><span class="head_menu"><a href="@{Userz.register()}" alt="注册">注册</a></span>	</li>
				<li><span class="head_menu"><a href="@{Secure.login()}" alt="登入">登入</a></span>	</li>
			#{/notLogin}
				*{
					<li><span class="head_menu"><a href="/explore/" alt="发掘 Jsxnc 奇趣事">发掘</a> <img src="@{'/public/images/site_nav_caret_split_default.png'}" class="nav_button_caret" alt="更多選項" height="15" width="18"></span>
				}*
			</li>
			</ul>
		</div>
		</td>
		<td style="padding-bottom: 2px;text-align:right;" id="search_header_form_td">
			<form action="@{Searchv.search()}" method="get" onsubmit="" id="headersearchform">
				<input onfocus="this.value=''" style="color: rgb(153, 153, 153);" name="q" id="header_search_q" class="Box" value="照片搜索" type="text">
			</form>
		</td>
		<td id="search_header_button_td"  style='text-align:right' width="82">
			<div style="display: block;" id="candy_search_button_bar" class="candy_button_bar">
				<ul class="site_nav_menu_buttons">
				<li class="menu_li" id="candy_nav_button_search"><span><a onclick="$('#headersearchform').submit()">搜索</a></span>					
				</li>
				</ul>
			</div>
		</td>
	</tr>		
</table>	

<script type="text/javascript">
$(document).ready(function(){
	o = {arrawpng : '@{'/public/images/arrow.png'}',
	arrawselectpng :'@{'/public/images/arrow_select.png'}',
	arrawhoverpng :'@{'/public/images/arrow_hover.png'}'}
	$("#nicemenu").flickmenu(o)	
});

</script>
