<table style="margin-bottom: 5px;">
  <tbody>
	<tr>
	  <td width=52>
		<a href="@{Photov.photos(currentuser,1)}">#{avatar user : visitedUser/}</a>
	  </td>
	  <td id="userbar">
		<h6>#{isMine}我#{/isMine} #{notMine}${visitedUser.screenname == null? visitedUser.fullname:visitedUser.screenname }#{/notMine}的所有內容<small></small></h6>
		<a href="@{Photov.photos(currentuser,1)}">图片</a>
		<a href="@{Setv.mySets(currentuser)}">相册</a>
        <a href="@{Postz.index(currentuser)}">故事</a>
	  </td>
	</tr>
  </tbody>
</table>
#{notMine}
	<script>
		$(document).ready(function(){
			$.get('@{Connectionz.connectInfo(user.fullname , visitedUser.fullname)}',function(data){
				$("#userbar").append(data);
			});
		});
	</script>
#{/notMine}
