<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="@{'/public/images/Envision.css'}" type="text/css" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
        <script src="@{'/public/javascripts/jquery-1.3.2.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.tools.min.js'}"></script>
    </head>
    <body>
<div id="wrap">        
	<div id="header">
		<h1 id='logo'><img id="home_img" src="/${familyLogoImage}"/></h1>
		<h1 id="logo-text">${blogTitle}</h1>
		<h2 id="slogan">${blogBaseline}</h2>
		#{top/}		
	</div>
	<div id="content-wrap">
        #{doLayout /} 
    </div>    
    <div id="footer">
            <p>&{'SiteforyourFamily'}</p>
    </div>
</div>        
    </body>
</html>
