<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /} Jsxnc 做最好的图片共享网站</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<META NAME="Description"  CONTENT="来自中国的图片共享网站"/>
		<link rel="stylesheet" href="@{'/public/css/nicemenu.css'}" type="text/css" media="screen, projection"/>
		<!-- Framework CSS -->
		<link rel="stylesheet" href="@{'/public/css/blueprint/screen.css'}" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="@{'/public/css/blueprint/print.css'}" type="text/css" media="print">
		<!--[if lt IE 8]><link rel="stylesheet" href="@{'/public/css/blueprint/ie.css'}" type="text/css" media="screen, projection"><![endif]-->
		<style type="text/css" media="screen">
			p, table, hr, .box { margin-bottom:25px; }
			.box p { margin-bottom:10px; }
		</style>
		
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        <script src="@{'/public/javascripts/jquery-1.3.2.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.tools.min.js'}"></script>
    </head>
    <body>	
<div class="container">      
	<div id="header">
		#{include '_header.html' /}
	</div>	
    #{doLayout /} 
	<hr/>
	<div clas="box">
	<div class="span-6">
		<h6>&{'SiteforyourFamily'}</h6>
	</div> 
	<div class="span-6">
		<h6>感谢</h6>
		<p><a href="http://www.playframework.org/">www.playframework.org</a><br/>
		<a href="http://blueprintcss.org">The Blueprint home page</a></p>
	</div>       
	<div class="last">
		<h6>连接</h6>
		<p><a href="http://www.mt2a.com">MT2A</a></p>
	</div>       
    </div>
</div>
    </body>
</html>

