<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /} Jsxnc 做最好的图片共享网站</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<META NAME="Description"  CONTENT="来自中国的图片共享网站"/>
		
		#{get 'moremeta'/}
		
		<meta name="google-site-verification" content="cZj8wQ_pbStKzdLqUUXbFVqw8njRmK5dONFjI3JPDpU" />
		<link rel="stylesheet" href="@{'/public/css/nicemenu.css'}" type="text/css" media="screen, projection"/>
		<!-- Framework CSS -->
		<link rel="stylesheet" href="@{'/public/css/blueprint/screen.css'}" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="@{'/public/css/blueprint/print.css'}" type="text/css" media="print">
		<!--[if lt IE 8]><link rel="stylesheet" href="@{'/public/css/blueprint/ie.css'}" type="text/css" media="screen, projection"><![endif]-->
		<style type="text/css" media="screen">
			p, table, hr, .box { margin-bottom:5px; }
			.box p { margin-bottom:10px; }
		</style>
		
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        <script src="@{'/public/javascripts/jquery-1.3.2.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.tools.min.js'}"></script>
        #{script 'collapse.js'/}
        #{script 'flickrmenu.js'/}
    </head>
    <body>	
	<div id="header">
		#{include '_header.html' /}
	</div>	
	<div class="container">      
		#{doLayout /}
	<br/> 
	<hr/>
	#{include '_footer.html'/}
	#{include '_google_analytics.html'/}
	</div>
    </body>
</html>

