<html>
<head>
    <link rel="stylesheet" href="${'/public/css/galleriffic/basic.css'}" type="text/css" />
	<link rel="stylesheet" href="${'/public/css/galleriffic/galleriffic-3.css'}" type="text/css" />

    <script type="text/javascript" src="@{'/public/javascripts/jquery-1.3.2.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jquery.galleriffic.js'}"></script>
    <!-- Optionally include jquery.history.js for history support 
    <script type="text/javascript" src="js/jquery.history.js"></script>
    <script type="text/javascript" src="js/jquery.opacityrollover.js"></script>
    -->
</head>
<body>
<a href="@{Reader.list()}">Home</a><br/>
<div id="page">
			<div id="container">

		<div id="gallery" class="content">
					<div id="controls" class="controls"></div>
					<div class="slideshow-container">
						<div id="loading" class="loader"></div>
						<div id="slideshow" class="slideshow"></div>
					</div>
		</div>
		<div id="thumbs" class="navigation">
			<ul class="thumbs noscript">
				#{list items: pages, as: 'page'}			
				<li>
					<a class="thumb" name="${page.page}" href="${play.configuration.staticserver}${file.originalFile}/../${page.page}.jpg" title="${page.page}">
						<img src="${play.configuration.staticserver}${file.originalFile}/../${page.page}_thumbnail.jpg" alt="${page.page}" />
					</a>
					<div class="caption">
						${page.page}
					</div>
				</li>
				#{/list}
			</ul>
		</div>
<div style="clear: both;"></div>
</div>
</div>
</div>
<script>
$(document).ready(function() {				
			$('div.navigation').css({'width' : '180px', 'float' : 'left'});
			$('div.navigation').css({'overflow' : 'auto', 'height' : '600px'});
			$('div.content').css('display', 'block');
			$('#thumbs').galleriffic({
					imageContainerSel:      '#slideshow',
					controlsContainerSel:   '#controls'
				});
			});
</script>
</body>
</html>