#{extends 'Reader/reader.template' /}
<a href="@{Reader.list()}">Home</a><br/>
<div id="page">
			<div id="container">

		<div id="gallery" class="content">
					<div id="controls" class="controls"></div>
					<div class="slideshow-container">
						<div id="loading" class="loader"></div>
						<div id="slideshow" class="slideshow"></div>
					</div>
		</div>
		<div id="thumbs" class="navigation">
			<ul class="thumbs noscript">
				#{list items: pages, as: 'page'}			
				<li>
					<a class="thumb" name="${page.page}" href="@{Reader.page(file.id,page.page,100)}" title="${page.page}">
						<img src="${play.configuration.staticserver}${file.originalFile}/../${page.page}_thumbnail.jpg" alt="${page.page}" />
					</a>
					<div class="caption">
						${page.page}
					</div>
				</li>
				#{/list}
			</ul>
		</div>
<div style="clear: both;"></div>
</div>
</div>
</div>
<script>
$(document).ready(function() {				
			$('div.navigation').css({'width' : '180px', 'float' : 'left'});
			$('div.navigation').css({'overflow' : 'auto', 'height' : '600px'});
			$('div.content').css('display', 'block');
			$('#thumbs').galleriffic({
					imageContainerSel:      '#slideshow',
					controlsContainerSel:   '#controls'
				});
			});
</script>